body{
scrollbar-3dlight-color:#D5E1F3;
scrollbar-arrow-color:#D5E1F3;
scrollbar-track-color:#D5E1F3;
scrollbar-darkshadow-color:#D5E1F3;
scrollbar-face-color:#54678D;
scrollbar-highlight-color:#CED7E6;
scrollbar-shadow-color:#CED7E6;

}