* html {
	overflow-y:scroll;
}

.frame {
	margin: 10px;
}

.listEl {
	margin-bottom: 1px;
}

.camel {
	text-transform:capitalize;
}

img {
	border:0;
}

strong {
	color: #444444;
}

body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	background-color:#FFFFFF;
	margin: 0px;
	padding: 0px;
}

body, td, th {
	font-size: 13px;
}

.MainContent {
	margin-left: 20px;
	margin-right: 10px;
	margin-bottom: 10px;
}

code {
	font-family: "Lucida Console", "Courier New", Courier, monospace; 
	font-size: 12px;
}

pre {
	font-family: "Lucida Console", "Courier New", Courier, monospace; 
	font-size: 12px;
}

th	{
	text-align: left;
	font-weight: bold;
	vertical-align: bottom;
}

table {
	background-color: white;
}

/* Links */
a:link {
	color: #0000CC;
	text-decoration: none;
}

a:visited {
    color: #0000CC;
	text-decoration: none;
} 

a:hover {
	text-decoration: underline;
	color: #0000CC;
}

a:active {
	text-decoration: none;
	color: #0000CC;
}

/* Headings */
h1, h2, h3, h4, h5, h6	{
	font-family: "Trebuchet MS", "Bitstream Vera Sans", verdana, lucida, arial, helvetica, sans-serif;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
	width: 90%;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 14px;
}

h4 {
	font-size: 12px;
	color: #666666;
}

h5 {
	font-size: 11px;
}

.functionSummary, .functionUsage{
	margin-left: 30px;
}

.functionUsage div.usage {
	margin-left: 20px;
}

.functionUsage span.optional {
	font-style: italic;
	color: gray;
}

.functionUsage span.return {
	color: blue;
	font-size: 80%;
}

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}

#editor img {
	background-color: white;
}

.dulltext {
	color: gray;	
}

#editorbar {
	text-align: right;
	width: 80%;
	margin-top: 50px;
}

#editor {
	padding: 20px;
	background-color: #efefef;
	margin-top: 20px;
	margin-left: 30px;
	width: 80%;
}

#preview {
	border: 1px solid gray;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 20px;	
}

pre {
	margin-left: 10px;
	border-left: 4px solid green;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 4px;
}

.comment{
	border: 1px solid #606060;
	padding: 10px;
	margin-top: 15px;
	margin-left: 30px;	
	margin-right: 30px;
	color: #606060;
}

.comment .strap{
	font-size: 80%;
	text-align: right;
}