<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Disabled</key>
        <false/>
        <key>EnvironmentVariables</key>
        <dict>
                <key>CATALINA_HOME</key>
                <string>@@installdir@@/tomcat</string>
                <key>JAVA_HOME</key>
                <string>/Library/Java/Home</string>
        </dict>
        <key>Label</key>
        <string>org.getrailo</string>
        <key>OnDemand</key>
        <false/>
        <key>ProgramArguments</key>
        <array>
                <string>@@installdir@@/connector/launchd_wrapper.sh</string>
		<string>run</string>
        </array>
        <key>RunAtLoad</key>
        <@@RuntAtLoadFlag@@/>
        <key>ServiceDescription</key>
        <string>Railo Tomcat</string>
        <key>StandardErrorPath</key>
        <string>@@installdir@@/launchd.stderr</string>
        <key>StandardOutPath</key>
        <string>@@installdir@@/launchd.stdout</string>
        <key>UserName</key>
        <string>root</string>
</dict>
</plist>
